.panoviewer
  &__banner
    position relative
    width 100%
    background-color #000
    overflow hidden

  &__body
    position relative
    max-width 800px
    height 400px
    margin 0 auto

  &__mark
    position absolute
    width 20px
    height 20px
    top 0
    left 0
    background-color red
    z-index 2